@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
    --color-mint-500: oklch(0.72 0.11 178);
  }
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
      width: 8px;
    }

  .custom-scrollbar::-webkit-scrollbar-track {
      background: #23232300;
      border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
      background: #cccccc;
      border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: #475569;
  }
}